
@keyframes color {
	0%   { background: #33CCCC; }
	20%  { background: #33CC36; }
	40%  { background: #B8CC33; }
	60%  { background: #FCCA00; }
	80%  { background: #33CC36; }
	100% { background: #cc33cc; }
  }
  
  body {
	background: #33CCCC; /* Fallback */
	animation: color 9s infinite linear;
	text-align: center;
	padding: 2em;
  }
  
  #easy-btn{
    width: 150px;
    height: 50px;
	display:flex;
	position: absolute;
	justify-content: center;
	align-content: center;
    margin-left: 680px;
    margin-top: 270px;
    cursor: pointer;
    background: #d3e441;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 10px 25px #c7be46, 0px -10px 25px #dddddd, inset 0px -5px 10px #bace5f, inset 0px 5px 10px #b4b4af;
    font-family: 'Damion', cursive;
    color: white;
    font-size: 20px;
    transition: 300ms;
}
#hard-btn{
    width: 150px;
    height: 50px;
	display:flex;
	justify-content: center;
	align-content: center;
	position: absolute;
    margin-left: 400px;
    margin-top: 273px;
    cursor: pointer;
    background: #da71c3;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 10px 25px #da71c3, 0px -10px 25px #dddddd, inset 0px -5px 10px #d3b7cd, inset 0px 5px 10px #cc9ac1;
    font-family: 'Damion', cursive;
    color: white;
    font-size: 20px;
    transition: 300ms;
}

#easy-btn:hover {
    border: 2px solid #6dd6d1;
    animation: 2s linear infinite;
}
#hard-btn:hover {
    border: 2px solid #6dd6d1;
animation:  2s linear infinite;
}
	
#puzzlepieces2{
	position: relative;
	width: 100px;
    height: 100px;
	animation-name: anim1;
	animation-duration: 3s;
	animation-iteration-count:2;
}
#puzzlepieces4{
	position: relative;
	width: 100px;
    height: 100px;
	animation-name: anim2;
	animation-duration: 3s;
	animation-iteration-count: 2;
}
#puzzlepieces5{
	position: relative;
	width: 100px;
    height: 100px;
	animation-name: anim3;
	animation-duration: 3s;
	animation-iteration-count:2;
}
#puzzlepieces6{
	position: relative;
	width: 100px;
    height: 100px;
	animation-name: anim4;
	animation-duration: 3s;
	animation-iteration-count: 2;
}
@keyframes anim1{
	0% {left:10px;top:250px ;transform: rotate(180deg);}
	25%{left:150px;top:90px;transform: rotate(90deg);}
   50%{left:450px;top:100px ;transform: rotate(360deg);}
	75%{left:500px;top:200px ;transform: rotate(60deg);}
	100%{left:-350px;top:40px ;transform: rotate(360deg);}
}
@keyframes anim2{
	0% {left:450px;top:2px ; right:50px;transform: rotate(20deg);}
	25%{left:75px;top:190px;transform: rotate(360deg);}
	50%{left:455px;top:120px ;transform: rotate(180deg);}
	75%{left:105px;top:20px ;transform: rotate(45deg);}
	100%{left:290px;top:20px ;transform: rotate(360deg);}
}
@keyframes anim3{
	0% {left:5px;top:250px ;transform: rotate(45deg);}
	25%{left:100px;top:90px;transform: rotate(90deg);}
   50%{left:250px;top:100px ;transform: rotate(180deg);}
	75%{left:400px;top:200px ;transform: rotate(45deg);}
	100%{left:-250px;top:40px ;transform: rotate(360deg);}
}
@keyframes anim4{
	0% {left:15px;top:20px ; }
	25%{left:75px;top:19px;transform: rotate(90deg);}
	50%{left:45px;top:127px ;transform: rotate(180deg);}
	75%{left:125px;top:205px ;transform: rotate(45deg);}
	100%{left:290px;top:200px ;transform: rotate(360deg);}
}