@keyframes color {
    0%   { background: #33CCCC; }
    20%  { background: #33CC36; }
    40%  { background: #B8CC33; }
    60%  { background: #FCCA00; }
    80%  { background: #33CC36; }
    100% { background: #cc33cc; }
  }
  
  body {
    background: #33CCCC; /* Fallback */
    animation: color 9s infinite linear;
    text-align: center;
    padding: 2em;
  }
  
  #img-1{
      opacity:1;
      margin-left:700px;
      transform: rotate(0deg);
  
  }
  #img-1:hover{
      transform: rotate(15deg);
  }
  #img-2{
      opacity: 1;
      margin-left: 7px;
      width: 185px;
      height: 185px;
      margin-top: 162px;
      margin-right: 816px;
      transform: rotate(0deg);
  
  }
  #img-2:hover{
      transform: rotate(-15deg);
  }.noselect {
                user-select: none;
            -webkit-tap-highlight-color: transparent;
    }
    
    #play-btn{
        width: 150px;
        height: 50px;
        top: 318px;
        margin-left: 550px;
        cursor: pointer;
        background: #da71c3;
        border: none;
        border-radius: 10px;
        box-shadow: 0px 10px 25px #da71c3, 0px -10px 25px #dddddd, inset 0px -5px 10px #d3b7cd, inset 0px 5px 10px #cc9ac1;
        font-family: 'Damion', cursive;
        color: white;
        font-size: 20px;
        display:flex;
        justify-content: center;
        align-content: center;
        transition: 300ms;
        position: absolute;
    }
    
    #play-btn:hover {
            border: 2px solid #6dd6d1;
        animation: hueRotation 2s linear infinite;
    }
    
    @keyframes hueRotation {
        to {filter: hue-rotate(360deg);}
    }
    
    #play-btn:focus {
        outline: none;
    }
    
   #img{
      position: relative;
      width:60px;
      height:60px;
      animation-name: anim1;
      animation-duration: 5s;
      animation-iteration-count:infinite;
  }
  #piece{
      position: relative;
      width:60px;
      height: 60px;
      animation-name: anim2;
      animation-duration: 4s;
      animation-iteration-count: infinite;
  }
  @keyframes anim1{
      0% {left:10px;top:250px ;transform: rotate(180deg);}
      25%{left:150px;top:90px;transform: rotate(90deg);}
     50%{left:450px;top:100px ;transform: rotate(360deg);}
      75%{left:500px;top:200px ;transform: rotate(60deg);}
      100%{left:-350px;top:40px ;transform: rotate(360deg);}
  }
  @keyframes anim2{
      0% {left:450px;top:2px ; right:50px;transform: rotate(20deg);}
      25%{left:75px;top:190px;transform: rotate(360deg);}
      50%{left:455px;top:120px ;transform: rotate(180deg);}
      75%{left:105px;top:20px ;transform: rotate(45deg);}
      100%{left:290px;top:20px ;transform: rotate(360deg);}
  }