
:root {
    --color:lightgray;
    --border-radius:10px;
    --image:url('backgroundimage.png');
  }
  body {
    background:#efefef;
    padding:0;
    margin:0;
  background-color:#d880bd;
    box-sizing:border-box;
  }
  #puzzle-in, #puzzle-out {
    position:absolute;
    border-radius:var(--border-radius) var(--border-radius)  var(--border-radius) var(--border-radius) ;    
    user-select:none;
  }
  #puzzle-in {
    width:300px;
    height:300px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    border:3px dashed lightgray;
    overflow:hidden;
  }
  #puzzle-out {
    left:0;
    top:0;
    border:0;
  }
  #puzzle-in i {
    float:left;
    width:100px;
    height:100px; 
    outline:1px dashed lightgray;
  }
  #puzzle-out i {
    position:absolute;
    width:100px;
    height:100px;
    background:var(--color);
    background-image:var(--image);
    background-size:350px 350px;
    cursor:move;
    box-shadow:0 0 10px rgba(0,0,0,.25);
  }
  
  .first {
    border-top-left-radius:var(--border-radius);
    background-position:left top !important;
  }
  .second {
    background-position:center top !important;
  }
  .third {
 
    background-position:right top !important;
  }
  .fourth{
    background-position:left center !important;
  }
  .fifth {
    background-position:center center !important;
  }
  .sixth {  
    background-position:right center !important;
  }
  .seven {
 
    background-position:left bottom !important;
  }
  .eight {
    background-position:center bottom !important;
  }
  .ninth {
    border-bottom-right-radius:var(--border-radius);
    background-position:right bottom !important;
  }
  
  .clicked {
    box-shadow:0 0 0 4px gray !important;
  }
  
  .dropped {
    background:var(--color);
    background-image:var(--image);
    background-size:300px 300px;
  }
  .done {
    opacity:0;
    pointer-events:none;
  }
  
  .allDone {
    animation:allDone 1s linear forwards;
    border:3px solid lightgray !important;
  }
  .allDone i {
    outline:2px !important;
  }
  
  @keyframes allDone {
    10% { transform:translate(-30%,-30%) scaleX(1.2) scaleY(1.5); }
  }
  
  #clicks {
    font-size:8px;
    font-family:monospace;
    position:absolute;
    bottom:5px;
    right:5px;
  }
#countdown
{
  color: #efefef;
  font-size: 50px;
  margin-left:400px;

} 